{% extends "base.html" %}
{% block title %}Estadísticas{% endblock %}
{% block content %}
<h1>Estadísticas de adopciones</h1>

<h2>Avisos por día</h2>
<img src="{{ url_for('static', filename='png/línea.png') }}" alt="Gráfico líneas" class="estadistica">

<h2>Avisos por tipo de mascota</h2>
<img src="{{ url_for('static', filename='png/torta.png') }}" alt="Gráfico torta" class="estadistica">

<h2>Avisos por mes</h2>
<img src="{{ url_for('static', filename='png/barra.png') }}" alt="Gráfico barras" class="estadistica">

<br>
<a href="{{ url_for('portada') }}">Volver a portada</a>
{% endblock %}
