{% extends "base.html" %}
{% block title %}Listado de Adopciones{% endblock %}
{% block content %}
<h1>Listado de adopciones</h1>
<p>Haga clic en una fila para más información.</p>

<table class="tabla">
  <thead>
    <tr>
      <th>Fecha publicación</th>
      <th>Fecha entrega</th>
      <th>Comuna</th>
      <th>Sector</th>
      <th>Cantidad, Tipo y Edad</th>
    </tr>
  </thead>
  <tbody>
    {% for aviso in avisos %}
    <tr onclick="window.location.href='{{ url_for(info, id=aviso.id) }}'">
      <td>{{ aviso.fecha_publicacion.strftime('%d/%m/%Y %H:%M') }}</td>
      <td>{{ aviso.fecha_entrega.strftime('%d/%m/%Y %H:%M') }}</td>
      <td>{{ aviso.comuna }}</td>
      <td>{{ aviso.sector }}</td>
      <td>{{ aviso.cantidad }} {{ aviso.tipo }}, {{ aviso.edad }} {{ aviso.unidad }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>
<a href="{{ url_for('portada') }}">Volver a portada</a>
{% endblock %}
