{% extends "base.html" %}
{% block title %}Portada{% endblock %}
{% block content %}
<h1>🐕 Bienvenido a la página de adopciones 🐈</h1>
<nav>
  <a href="{{ url_for('agregar') }}">Agregar aviso</a> |
  <a href="{{ url_for('listado') }}">Ver listado</a> |
  <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
</nav>

<h2>Últimos 5 avisos</h2>
<table>
  <tr>
    <th>Fecha publicación</th>
    <th>Comuna</th>
    <th>Sector</th>
    <th>Cantidad, Tipo y Edad</th>
  </tr>
  {% for aviso in avisos %}
  <tr>
    <td>{{ aviso.fecha_publicacion.strftime('%d/%m/%Y %H:%M') }}</td>
    <td>{{ aviso.comuna }}</td>
    <td>{{ aviso.sector }}</td>
    <td>{{ aviso.cantidad }} {{ aviso.tipo }}, {{ aviso.edad }} {{ aviso.unidad }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
